scratchpad/*
*.ipynb_checkpoints
*__pycache__*
*_output/
*_data/
.python-version
*.egg-info/*
kernels.json
notebooks/*
github_data/*
sync.sh
requirements.txt
setup.py
iml_group_proj/*
playground/*
runner/build_bert_embeddings.py
